name: Test Internal Kubernetes Service

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: write
  packages: write

jobs:
  test-internal:
    name: Testar Serviço Interno
    runs-on: arc-runner-set  

    steps:
      - name: Checkout code
        uses: actions/checkout@v5.0.0
        with:
          fetch-depth: 0

      - name: Atualizar appVersion em Chart.yaml
        run: |
          ls -lha
          echo "Atualizando app-lab/Chart.yaml com o valor de $RANDOM"
          NEW_VER="$RANDOM"
          sed -i -E "s~^appVersion:.*~appVersion: \"${NEW_VER}\"~" app-lab/Chart.yaml || { echo "Falha ao atualizar app-lab/Chart.yaml"; exit 1; }
          echo "appVersion atualizado para: ${NEW_VER}"
          grep '^appVersion' -n app-lab/Chart.yaml || true

      - name: Setup Helm (action)
        uses: azure/setup-helm@v4.3.0

      - name: Adicionar repositório ChartMuseum
        run: |
          echo "Adicionando repositório ChartMuseum"
          helm repo add chartmuseum http://chartmuseum.default.svc.cluster.local:8080 || true
          helm repo update || true
          helm repo list
          helm search repo chartmuseum  

      - name: Instalar plugin helm-push (ChartMuseum)
        run: |
          if ! helm plugin list | grep -q "push"; then
            helm plugin install https://github.com/chartmuseum/helm-push.git || true
          fi
          helm plugin list || true

      # - name: Empacotar e enviar chart para ChartMuseum (helm push)
      #   run: |
      #     set -e
      #     mkdir -p charts-packages
      #     echo "Empacotando chart em app-lab"
      #     helm package app-lab -d charts-packages
      #     CHART_FILE=$(ls charts-packages/*.tgz | head -n1 || true)
      #     if [ -z "${CHART_FILE}" ]; then
      #       echo "Nenhum pacote de chart encontrado em charts-packages"; exit 1
      #     fi
      #     echo "Enviando ${CHART_FILE} para ChartMuseum em http://chat.default.svc.cluster.local usando helm push"
      #     helm push "${CHART_FILE}" chartmuseum || { echo "Falha ao enviar chart para ChartMuseum"; exit 1; }
      #     echo "Push concluído: ${CHART_FILE}"
      - name: Verificar runner
        run: |
          echo "Rodando no runner:" hostname
          
      - name: Testar acesso ao serviço interno http-echo
        run: |
          echo "Chamando serviço interno no Kubernetes..."
          curl -v http-echo.default.svc.cluster.local

      - name: Commit and push changes
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: "chore: atualizar app-lab/Chart.yaml [ci skip]"
          branch: main
          file_pattern: "app-lab/Chart.yaml"
          commit_user_name: "github-actions"
          commit_user_email: "github-actions@users.noreply.github.com"
